.upload-lab{ width: 100%;background: #fff;padding: 40px;border: 1px solid #f1f2f3;}
.upload-lab h5{ font-size: 16px;color: #666;text-align: center;font-weight: 600;line-height: 2.4;}
.upload-lab form{ width: 60%;min-width: 500px;}