<div class="course-module" ng-init="learnFunc.initFunc()">
	<div class="course-view clearfix">
		<div class="course-lft">
			<a ng-href=" file:///{{ learnFunc.data.course.lab_url }}" target="_blank">开始学习</a>
		</div>
		<div class="course-rht">
			<h5 class="c-title">{{ learnFunc.data.course.lab_name }}</h5>
			<div class="course-info clearfix">
				<div class="item-lft c-info-title">课程简介：</div>
				<div class="item-rht c-info-con" ng-show="learnFunc.data.course.lab_intro">{{ learnFunc.data.course.lab_intro }}</div>
				<div class="item-rht c-info-con" ng-show="!learnFunc.data.course.lab_intro">老师很懒，什么都没写</div>
			</div>
			<div class="course-info clearfix">
				<div class="item-lft c-info-title">课程老师：</div>
				<div class="item-rht c-info-con">{{ learnFunc.data.course.uploader }}</div>
			</div>
			<div class="collect" ng-click="hasCollect = true" title="收藏该课程">
				<i class="fa" ng-class=" {'fa-heart-o': !hasCollect, 'fa-heart': hasCollect}"></i>
			</div>
			<div class="course-info clearfix" ng-show="learnFunc.data.course.testtype">
				<div class="item-lft c-info-title">课程要求：</div>
				<div class="item-rht c-info-con" ng-show="learnFunc.data.course.testtype == 2">
					<a href="#/test/{{ learnFunc.data.course.id }}">
						<button class="btn btn-sm btn-primary">开始考核</button>
					</a>
				</div>
				<div class="item-rht c-info-con" ng-show="learnFunc.data.course.testtype == 1">
					{{ learnFunc.data.require }}
				</div>

			</div>
			<div class="course-info clearfix" ng-show="learnFunc.data.course.testtype == 1">
				<div class="item-lft c-info-title">提交作业：</div>
				<input class="item-rht c-info-con" type="file" value="上传">
			</div>
		</div>
	</div>
	<!-- 该门课其他目录 和评论-->
	<div class="course-dir">
		<h5 class="c-title">相关课程</h5>
		<ul ng-repeat="re in relaCourses | orderBy : 'createTime'">
			<li class="course-li">
				<a href="#/course/{{ re.id }}">{{ re.lab_name }}</a>
			</li>
		</ul>
	</div>
</div>