<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div class="row marketing" ng-init="mainFunc.init()">
  <div class="list-by">
    <div class="top-filter">
      <mark  ng-click="mainFunc.courseType(0)" 
        ng-class="{'lf-blue': mainFunc.data.isSelected[0], 'lf-blue-o': !mainFunc.data.isSelected[0]}">全部</mark>
      <mark ng-click="mainFunc.courseType(1)"
        ng-class="{'lf-blue': mainFunc.data.isSelected[1], 'lf-blue-o': !mainFunc.data.isSelected[1]}">C++</mark>
      <mark class="lf-blue-o" ng-click="mainFunc.courseType(2)"
        ng-class="{'lf-blue': mainFunc.data.isSelected[2], 'lf-blue-o': !mainFunc.data.isSelected[2]}">Visual Basic</mark>
      <mark class="lf-blue-o" ng-click="mainFunc.courseType(3)"
        ng-class="{'lf-blue': mainFunc.data.isSelected[3], 'lf-blue-o': !mainFunc.data.isSelected[3]}">数据库</mark>
    </div>
    <div class="top-filter search">
      <div class="input-group lf-search">
        <input type="text" class="form-control" ng-model="mainFunc.data.keyword" 
          ng-keyup="mainFunc.keyPress($event)" placeholder="输入关键字或老师姓名">
        <div class="input-group-addon lf-search-btn" ng-click="mainFunc.searchFunc()">搜索</div>
      </div>
    </div>
  </div>
  <ul class="course-ul">
    <li class="course-list" ng-repeat="cList in courseLists">
      <img class="course-poster" ng-src="{{ cList.cposter }}" alt="">
      <h5 class="course-title"><a href="#/course/{{ cList.id }}">{{ cList.lab_name }}</a></h5>
      <div class="course-info">
        <span>{{ cList.createTime | date: "yyyy-MM-dd" }}</span>
        <span>{{ cList.uploader }}</span>
      </div>
    </li>
  </ul>
</div>
