<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="row marketing" ng-init="mainFunc.init()">
  <ul class="course-ul">
    <li class="course-list" ng-repeat="cList in courseLists">
      <img class="course-poster" ng-src="{{ cList.lab_url }}" alt="">
      <h5 class="course-title"><a href="#/course/{{ cList.lab_id }}">{{ cList.lab_name }}</a></h5>
      <div class="course-info">
        <span>{{ cList.createTime | date: "yyyy-MM-dd" }}</span>
        <span>{{ cList.uploader }}</span>
      </div>
    </li>
  </ul>
</div>
